@import "tailwindcss";

/* Add your custom animation in the tailwind 'utilities' layer */
@layer utilities {
  @keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  .animate-fade-in {
    animation: fade-in 0.2s ease-in forwards;
  }


  .animate-fade-in-all * {
    animation: fade-in 0.2s ease-in forwards;
  }

}

