body {
	font-family: sans-serif;
	margin: 0;
	font-size: 16px;
	padding: 1rem;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 3rem;
	max-width: 65rem;
	padding: 1rem;
	margin: 0 auto;
}
@media screen and (max-width: 600px) {
	.container {
		grid-template-columns: 1fr;
		row-gap: 1rem;
	}
}

.container .editor {
	padding: 1rem;
	white-space: pre-wrap;
	resize: none;
	font-family: monospace;
}
